@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700&family=Rubik:wght@300;400;500;700&display=swap');

@theme {
  --font-sans: "Heebo", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Rubik", ui-sans-serif, system-ui, sans-serif;
}

body {
  direction: rtl;
  @apply bg-slate-50 text-slate-900;
}

.markdown-body {
  @apply text-right;
}
